.order-details {
  position: relative;
  &__close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 6px 0 lightgray;
    background-image: url("../../images/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}